.custom_select_in_menu {
    > :first-child {
        flex-direction: column;
        align-items: flex-start;
        > :nth-child(1) {
        }
        > :nth-child(2) {
            width: 100%;
            > :first-child {
            }
        }
    }
}
