* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    user-select: none;
}

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.custom_fullwidth_formItem {
    > :first-child {
        width: 100%;
    }
}
